@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic);
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

html > body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
  /* -- */
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

/* --- */
header {
  background-color: #fafafa !important;
  color: #222 !important;
  -webkit-app-region: drag; }

main {
  background-color: #666;
  height: 100%; }

nav {
  margin-right: 3em; }
  nav > * {
    -webkit-app-region: no-drag; }

/* -- */
.u-no-pointer-events {
  pointer-events: none; }

/* -- */
ul.mdl-menu.main > li span[class*=__label] {
  bottom: 10px; }

ul.mdl-menu.main > li > div.mdl-slider__container {
  top: 16px; }

ul.mdl-menu.main > li #pointsPerSecondCounter {
  position: absolute;
  text-align: right;
  width: 100%;
  right: 0;
  padding-right: 1em; }
  ul.mdl-menu.main > li #pointsPerSecondCounter > span.inner {
    font-weight: 600; }

ul.mdl-menu.main > li input#dest {
  display: none; }

ul.mdl-menu.main > li #destLabel {
  position: absolute;
  text-align: right;
  width: 100%;
  right: 0;
  padding-right: 1em; }

/* -- */
#exit-button {
  margin-left: -2em;
  margin-right: 2em;
  cursor: pointer;
  -webkit-app-region: no-drag; }
  #exit-button:hover, #exit-button:active {
    color: #ff5252;
    /*color: $offwhite*/ }

/* -- */
button.mdl-button.action-button {
  position: fixed;
  top: auto;
  right: 0.7em;
  bottom: 0.7em;
  left: auto;
  bottom: -100%;
  -webkit-transition: .3s bottom ease-out;
          -o-transition: .3s bottom ease-out;
     transition: .3s bottom ease-out; }

button#stop-button {
  display: none; }

/* prevent header from disappearing on screens < 1024px wide */
.mdl-layout__header {
  display: block !important; }

/* --- */
.page-content {
  padding: 2em;
  height: -webkit-calc(100% - 4em);
  height: calc(100% - 4em);
  /*color: $offwhite*/ }

input#upload {
  display: none; }

#interface {
  width: 100%;
  height: 100%; }
  #interface > #track-list {
    width: 100%;
    margin-top: -2em;
    background-color: transparent; }
    #interface > #track-list tr {
      -webkit-transition: .1s color;
              -o-transition: .1s color;
         transition: .1s color; }
      #interface > #track-list tr:not(.is-selected):not(:hover) {
        color: #ddd; }
    #interface > #track-list > thead {
      display: none; }
    #interface > #track-list td.label {
      text-align: left; }
    #interface > #track-list .mdl-progress.analysis-progress {
      position: absolute;
      top: auto;
      right: 0;
      bottom: auto;
      left: 0;
      -webkit-transform: translateY(3.4em);
          -ms-transform: translateY(3.4em);
              -o-transform: translateY(3.4em);
         transform: translateY(3.4em);
      width: 100%; }
      #interface > #track-list .mdl-progress.analysis-progress.errored > .bar {
        background-color: #ff5252; }
      #interface > #track-list .mdl-progress.analysis-progress.saving > .bar {
        background-color: #ff6e40; }
  #interface div#banner {
    display: block;
    position: fixed;
    top: auto;
    right: auto;
    bottom: 1em;
    left: 1em;
    padding: 0.5em;
    height: 1.4em;
    background-color: #333;
    bottom: -100%;
    -webkit-transition: 0.3s bottom ease-out;
            -o-transition: 0.3s bottom ease-out;
       transition: 0.3s bottom ease-out; }
    #interface div#banner > span {
      color: #bbb;
      font-size: 0.8em;
      font-transform: uppercase; }
  #interface > .blank-state {
    color: #aaa;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    text-align: center;
    position: relative;
    top: 40%;
    /*transform: translateY(-50%);*/
    -webkit-transition: .2s opacity;
            -o-transition: .2s opacity;
       transition: .2s opacity; }
    #interface > .blank-state > #blank-state-text {
      font-size: 2em;
      cursor: context-menu; }
  #interface.blank {
    border: 4px dashed #bbb;
    padding: 2em; }
    #interface.blank > .blank-state {
      opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
    #interface.blank > #track-list {
      display: none; }
  #interface:not(.blank) > button.mdl-button.action-button {
    bottom: 0.7em; }
  #interface:not(.blank):not(.working) div#banner {
    bottom: 1em; }

/* snackbars */
.snackbar.error {
  background-color: #ff5252; }

/*# sourceMappingURL=style.css.map */
